# Ignore idea settings
.idea/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore virtual environment
venv/

# Ignore macOS system file
.DS_Store

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore log or temp file
*.log
*.tmp

# Ignore data and models
data/
*.pkl
*.csv
